<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header :: myHeader"></div>
    <title>Enregistrez votre produit</title>
</head>

<body>

    <!-- Navigation -->
    <div th:insert="navBar :: myNavBar"></div>


    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="/kompleet/assets/img/bg/bg5.jpg"
        data-speed="0.7">
        <div class="section-inner pad-top-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt30 wow text-center">
                        <h2 class="section-heading">Nouveau produit/service</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-section-inner">
        <div class="container">
            <br /><br /><br />
            <br /><br />
            <div class="col-sm-8 col-sm-offset-2">
                <form method="post" th:action="@{/products/add}" enctype="multipart/form-data" th:object="${product}">
                    <div class="form-group">
                        <label for="type">Produit ou Service ?</label>
                        <select name="type" id="type" th:field="*{type}" class="form-control">
                            <option selected value="">Choisissez...</option>
                            <option value="Produit">Produit</option>
                            <option value="Service">Service</option>
                        </select>
                        <br>
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                            class="alert alert-danger"></span>
                    </div>
                    <div id="inputs">
                        <div class="form-group form-floating">
                            <label for="ref">Référence *</label>
                            <input type="text" class="form-control" th:field="*{reference}" name="reference" id="ref"
                                placeholder="" />
                            <br>
                            <span th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}"
                                class="alert alert-danger"></span>
                        </div>
                        <div class="form-group form-floating">
                            <label for="name">Nom *</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="" />
                            <br>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                class="alert alert-danger"></span>
                        </div>
                        <div class="form-group form-floating">
                            <label for="price">Prix *</label>
                            <input type="number" min="0" class="form-control" th:field="*{price}" name="price"
                                id="price" placeholder="" />
                            <br>
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                class="alert alert-danger"></span>
                        </div>
                        <div class="form-group form-floating">
                            <label for="descr">Description *</label>
                            <textarea name="description" id="descr" class="form-control" th:field="*{description}"
                                placeholder=""></textarea>
                            <br>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                class="alert alert-danger"></span>
                        </div>
                        <div class="form-group custom-file">
                            <label for="productPic" class="custom-file-label">Ajoutez une photo</label>
                            <input type="file" class="custom-file-input" name="pic" id="productPic"
                                accept="image/png, image/jpeg, image/jpg" />
                        </div>
                        <input class="btn btn-secondary btn-white mt30 pull-right" type="submit" name="submit"
                            value="Enregistrer" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:insert="footer :: myFooter"></div>
</body>

</html>