<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header :: myHeader"></div>
    <title>Catalogue</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

    <section class="dark-wrapper opaqued parallax" data-parallax="scroll"
        data-image-src="/kompleet/assets/img/bg/bg5.jpg" data-speed="0.7">
        <div class="section-inner pad-top-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt30 wow text-center">
                        <h2 class="section-heading">Catalogue</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <div class="container text-center">
        <div class="row align-content-center center">
            <div class="col-md-9">
                <div class="grid">
                    <div class="card border-secondary text-center" th:each="product : ${products}"
                        th:if="${product.selected}">
                        <img alt="" th:src="*{'data:image/png;base64,'+{product.image}}"
                            style="width: 200px; height: 200px;" />
                        <div class="card-body">
                            <h4 class="card-title">Nom du <span th:utext="${product.type}"></span> : <span
                                    th:utext="${product.name}"></span></h4>
                            <h5 class="card-text">Prix du <span th:utext="${product.type}"></span> : <span
                                    th:utext="${product.price}"></span> TND</h5>
                            <p class="card-text" th:utext="${product.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div th:insert="footer :: myFooter"></div>

</body>

</html>