<html xmlns:th="http://www.thymeleaf.org">

<body>
    <footer class="white-wrapper" th:fragment="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline social-links wow">
                        <li>
                            <a href="https://www.instagram.com/smart_ways_innovation/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Smart.ways.innovation" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/smart-ways-innovation/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC72lM99JaXdl47fZLyk9k9Q" target="_blank"><i
                                    class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <hr class="thin-hr" />

                <div class="col-md-12 text-center wow">
                    <span class="copyright">2022 © SmartWays Innovation</span>
                </div>
            </div>
        </div>

        <script src="/kompleet/assets/js/jquery.js"></script>
        <script src="/kompleet/assets/js/bootstrap.min.js"></script>
        <script src="/kompleet/assets/js/plugins.js"></script>
        <script src="/kompleet/assets/js/init.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </footer>
</body>

</html>