<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header :: myHeader">

    </div>
    <title>SmartProspect</title>

</head>

<body id="page-top" class="index">

    <div class="master-wrapper">

        <div th:insert="navBar :: myNavBar"></div>

        <div id="search-wrapper">
            <button type="button" class="close">x</button>
            <div class="vertical-center text-center">
                <form>
                    <input type="search" value="" placeholder="Enter Search Term" />
                    <button type="submit" class="btn btn-secondary btn-white">Search</button>
                </form>
            </div>
        </div>

        <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight agency-slider backstretch-overlay-alt">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn" data-wow-delay="0.2s">SmartProspect</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Tout pour une
                        prospection <span class="rotate">simple, rapide, efficace</span></div>
                    <a href="#welcome" class="btn btn-secondary btn-white mt30 page-scroll" data-wow-delay="0.6s">En
                        savoir plus</a>
                </div>
            </div>
        </header>

        <section id="welcome">
            <div class="section-inner nopaddingbottom">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb100 wow">
                            <h2 class="section-heading">Bienvenue sur la plate-forme SmartProspect</h2>
                            <h3 class="section-subheading secondary-font"></h3>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">SmartProspect est une plate-forme de prospection commerciale développée par
                                l'équipe de <b><i>Smart Ways Innovation</i></b>. </p>
                            <p class="lead"><b><i>Smart Ways Innovation</i></b>, localisée à au sein de la Pépinière
                                d'entreprise Sfax Innovation 1, elle-même localisée dans l'École Nationale d'Ingénieurs
                                de Sfax (E.N.I.S.), est une société multi-services spécialisée dans le domaine
                                informatique et les nouvelles technologies. Elle met à votre disposition des solutions
                                clé en main, intégrées et connectées pour l'économie des ressources des différents
                                domaines.</p>
                        </div>

                        <div class="col-md-6">
                            <img src="/kompleet/assets/img/prospecting.png" class="img-responsive alignright wow fadeIn"
                                data-wow-delay="0.5s" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <div th:insert="footer :: myFooter"></div>

    </div>

</body>

</html>