<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header :: myHeader">

    </div>
    <title>SmartProspect</title>

</head>

<body id="page-top" class="index">

    <div class="master-wrapper">

        <!-- Loading takes too much time -->
        <!-- <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="/kompleet/assets/img/loading.GIF"
                        alt="loading" /></span>
            </div>
        </div> -->

        <div th:insert="navBar :: myNavBar"></div>

        <div id="search-wrapper">
            <button type="button" class="close">x</button>
            <div class="vertical-center text-center">
                <form>
                    <input type="search" value="" placeholder="Enter Search Term" />
                    <button type="submit" class="btn btn-secondary btn-white">Search</button>
                </form>
            </div>
        </div>

        <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight agency-slider backstretch-overlay-alt">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn" data-wow-delay="0.2s">Bienvenue sur la plateforme
                        SmartProspect</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Tout pour une
                        prospection <span class="rotate">simple, rapide, efficace</span></div>
                    <a href="#welcome" class="btn btn-secondary btn-white mt30 page-scroll" data-wow-delay="0.6s">En
                        savoir plus</a>
                </div>
            </div>
        </header>

        <section id="welcome">
            <div class="section-inner nopaddingbottom">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb100 wow">
                            <h2 class="section-heading">Welcome To Kompleet</h2>
                            <h3 class="section-subheading secondary-font">Were very happy to see you.</h3>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Sold old ten are quit lose deal his sent. You correct how sex several far
                                distant believe journey parties. We shyness enquire uncivil affixed it carried to. </p>
                            <p>End sitting shewing who saw besides son musical adapted. Contrasted interested eat
                                alteration pianoforte sympathize was. He families believed if no elegance interest
                                surprise an. It abode wrong miles an so delay plate.</p>
                        </div>

                        <div class="col-md-6">
                            <img src="/kompleet/assets/img/isometric-ipad-white.png" class="img-responsive alignright wow fadeIn"
                                data-wow-delay="0.5s" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Team -->
        <section class="white-bg">
            <div class="section-inner nopadding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 match-height">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled"
                                        data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                                        <li>
                                            <div class="row hover-item">
                                                <div class="col-xs-12">
                                                    <img src="/kompleet/assets/img/team/1.jpg" class="img-responsive smoothie"
                                                        alt="">
                                                </div>
                                                <div class="col-xs-12 hover-item-caption smoothie">
                                                    <div class="vertical-center">
                                                        <h3 class="smoothie"><a href="single-portfolio.html"
                                                                title="view project">John Doe</a></h3>
                                                        <ul class="smoothie list-inline social-links wow">
                                                            <li>
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-behance"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row hover-item">
                                                <div class="col-xs-12">
                                                    <img src="/kompleet/assets/img/team/2.jpg" class="img-responsive smoothie"
                                                        alt="">
                                                </div>
                                                <div class="col-xs-12 hover-item-caption smoothie">
                                                    <div class="vertical-center">
                                                        <h3 class="smoothie"><a href="single-portfolio.html"
                                                                title="view project">Barry Scott</a></h3>
                                                        <ul class="smoothie list-inline social-links wow">
                                                            <li>
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-behance"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row hover-item">
                                                <div class="col-xs-12">
                                                    <img src="/kompleet/assets/img/team/3.jpg" class="img-responsive smoothie"
                                                        alt="">
                                                </div>
                                                <div class="col-xs-12 hover-item-caption smoothie">
                                                    <div class="vertical-center">
                                                        <h3 class="smoothie"><a href="single-portfolio.html"
                                                                title="view project">Tom Smooth</a></h3>
                                                        <ul class="smoothie list-inline social-links wow">
                                                            <li>
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-behance"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row hover-item">
                                                <div class="col-xs-12">
                                                    <img src="/kompleet/assets/img/team/4.jpg" class="img-responsive smoothie"
                                                        alt="">
                                                </div>
                                                <div class="col-xs-12 hover-item-caption smoothie">
                                                    <div class="vertical-center">
                                                        <h3 class="smoothie"><a href="single-portfolio.html"
                                                                title="view project">Harvey Wallace</a></h3>
                                                        <ul class="smoothie list-inline social-links wow">
                                                            <li>
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-behance"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 match-height">
                            <div class="vertical-center">
                                <h2 class="section-heading">The Team</h2>
                                <h3 class="section-subheading secondary-font">Dedicated to excellence.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="opaqued light-opaqued parallax">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4"
                                data-items-desktop="[1200,4]" data-items-desktop-small="[980,4]"
                                data-items-tablet="[768,3]" data-items-mobile="[479,2]">
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo1.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo2.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo3.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo4.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo5.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="/kompleet/assets/img/logo/logo6.png" class="img-responsive" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:insert="footer :: myFooter"></div>

    </div>

</body>

</html>