<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top fadeInDown" th:fragment="myNavBar">
        <div class="top-bar smoothie hidden-xs">
            <div class="container">
                <div class="clearfix">
                    <ul class="list-inline social-links wow pull-left">
                        <li>
                            <a href="https://www.instagram.com/smart_ways_innovation/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Smart.ways.innovation" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/smart-ways-innovation/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                    <div class="pull-right text-right">
                        <ul class="list-inline">
                            <li>
                                <div>
                                    <i class="fa fa-envelope-o"></i>
                                    <a th:href="@{/contact-admin}" class="">
                                        sidikone63@gmailcom
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="meta-item"><i class="fa fa-mobile"></i> +216 27 841 802</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smoothie logo logo-light" href="/"><img src="/assets/img/logo/smartways.svg"
                        height="200px" alt="logo"></a>
                <a class="navbar-brand smoothie logo logo-dark" href="/"><img src="/assets/img/logo/smartways.svg"
                        alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/" class="">Accueil</a>
                    </li>
                    <li class="">
                        <a th:href="@{/search}" class="">Chercher Entreprises</a>
                    </li>
                    <!-- <li class="">
                        <a th:href="@{/companies}" class="">Entreprises</a>
                    </li> -->
                    <li class="">
                        <a th:href="@{/products/new}" class="">Gérer catalogue</a>
                    </li>
                    <li class="">
                        <a th:href="@{/contact-admin}" class="">Contacter l'administrateur</a>
                    </li>
                    <li><a href="#search"><i class="pe-7s-search"></i></a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</body>

</html>