<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <title>Your name goes in here</title>
</head>

<body>
    <div class="container">
        <div class="row g-2">
            <div class="col">
                <br /><br /><br />
                <br /><br /><br />
                <br /><br /><br />
                <h2>Sidi Mohamed KONÉ</h2>
                <h2>Student</h2>
                <h2>I.T.</h2>
            </div>
            <div class="col">
                <h2>27 841 802</h2>
                <h2>sidikone63@gmail.com</h2>
                <h2>Naruto2803</h2>
            </div>
        </div>
    </div>
</body>

</html>