<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="admin-header :: adminHeader"></div>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Show/Mask password script -->
    <script src="/kompleet/assets/js/personalJS/showPassword.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div th:insert="admin-navbar :: adminNavbar"></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        


        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profil</h4>
                    </div>
                    <!-- <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                            <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                                to Pro</a>
                        </div>
                    </div> -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg">
                                <img width="100%" alt="user" th:src="*{'data:image/png;base64,'+{user.image}}" />
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <img class="thumb-lg img-circle" alt=""
                                            th:src="*{'data:image/png;base64,'+{user.image}}" />
                                        <h4 class="text-white mt-2" th:utext="${fullName}">
                                        </h4>
                                        <h5 class="text-white mt-2" th:utext="${user.email}"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>258</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>125</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>556</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" action="/user/edit"
                                    enctype="multipart/form-data" th:object="${user}" method="post">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Prénom :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" class="form-control p-0 border-0" th:field="*{firstName}"
                                                name="firstName">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Nom :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" class="form-control p-0 border-0" th:field="*{lastName}"
                                                name="lastName">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">Email :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="email" class="form-control p-0 border-0" th:field="*{email}"
                                                name="email" id="example-email">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div> -->
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Login :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" class="form-control p-0 border-0"
                                                th:field="*{account.login}" name="login">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('account.login')}"
                                                th:errors="*{account.login}" class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Profession :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" class="form-control p-0 border-0"
                                                th:field="*{profession}" name="profession">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Domaine commercial :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0" name="domain"
                                                th:field="*{domain.name}" id="BDomain">
                                                <option value="" selected>Choisissez votre domaine commercial...
                                                </option>
                                                <option th:each="domain : ${domains}" th:value="${domain.name}"
                                                    th:utext="${domain.name}"></option>
                                            </select>
                                        </div>
                                        <div>
                                            <span th:if="${domainChecked=='false'}" th:utext="${domainCheck}"
                                                class="alert alert-danger"></span>
                                            <span th:if="${#fields.hasErrors('domain')}" th:errors="*{domain}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Numéro de téléphone :</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" class="form-control p-0 border-0"
                                                th:field="*{phoneNumber}" name="phoneNumber">
                                        </div>
                                        <div>
                                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                                class="alert alert-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 custom-file">
                                        <label for="profilePic" class="custom-file-label">Choisir une nouvelle photo de
                                            profil :</label>
                                        <input type="file" class="custom-file-input form-control p-0 border-0"
                                            name="pic" id="profilePic" accept="image/png, image/jpeg, image/jpg" />
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <input type="submit" class="btn btn-success"
                                                value="Enregistrer les modifications">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div th:insert="admin-footer :: adminFooter"></div>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/ample-admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/ample-admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/ample-admin/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/ample-admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/ample-admin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/ample-admin/js/custom.js"></script>
</body>

</html>